.main {
    display: flex;
    flex-direction: row;
    padding-top: 85px;
    width: 100%;
    @media screen and (max-width: 980px) {
        flex-direction: column;
    }
    &_info {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(194, 194, 194, 0.62);
        padding: 20px 20px 20px 120px;
        @media screen and (max-width: 980px) {
            padding: 20px;
        }
    }
    &_photo {
        max-width: 240px;
        img {
            border-radius: 8px;
        }
    }
    &_social {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &_language {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .lang-tags {
            display: flex;
            gap: 10px;
        }
    }
    &_skills {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .skill-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
    &_hobby {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .hobby-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
    &_section-title {
        font-weight: 600;
        color: #1976d2;
    }
    &_content {
        background: rgba(0, 0, 0, 0.8);
        padding: 20px 120px 20px 60px;
        flex-basis: 60%;
        @media screen and (max-width: 980px) {
            padding: 20px;
        }
    }
    &_content_title {
        font-weight: 500;
        text-transform: capitalize;
    }
    .work_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_title {
            font-weight: 500;
            color: $White-100;
        }
        &_items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            @media screen and (max-width: 980px) {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                height: max-content;
            }
        }
        a {
            .single_work_block {
                width: 100%;
                height: 250px;
                position: relative;

                img {
                    width: 100%;
                    min-width: 320px;
                    height: 100%;
                    border-radius: 15px;
                    border: 1px solid transparent;
                    object-fit: cover;
                    transition: box-shadow 0.3s ease;
                }

                h3 {
                    transition: 1.5s;
                    color: #fff;
                    position: absolute;
                    opacity: 0;
                    bottom: 0;
                    padding: 15px;
                    width: 100%;
                    background-color: rgba(8, 54, 8, 0.445);
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }

                &:hover {
                    img {
                        box-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
                    }

                    h3 {
                        color: #fff;
                        position: absolute;
                        opacity: 1;
                        bottom: 0;
                        padding: 15px;
                        width: 100%;
                        background-color: rgba(8, 54, 8, 0.897);
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
                }
            }
        }
    }

    .anim-item {
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: max-content;
        span {
            position: relative;
            z-index: 2;
            color: #1976d2;
            display: flex;
            line-height: 1;
            font-size: 0.9rem;
            column-gap: 0.3rem;
            align-items: center;
            border-radius: 3px;
            padding: 0.35rem 0.7rem;
            justify-content: center;
            background-color: #fff;
            border-top-color: #fff;
            border-left-color: #fff;
            border-bottom-color: #bbb;
            border-right-color: #bbb;
            transition: all 0.15s ease;
            cursor: pointer;
            font-weight: 400;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            background: linear-gradient(115deg, #61afc6, #1de1df, #92c7c9, #37aedd, #31cdb9);
            background-size: 50% 100%;
        }

        &:hover:before {
            animation: SidebarCreate-module_rainbowSlide-feOE0 0.75s linear infinite;
        }
    }
    .main_skills,
    .main_language,
    .main_hobby {
        .skill-tags,
        .lang-tags,
        .hobby-tags {
            .skill-item,
            .lang-item,
            .hobby-item {
                color: #1976d2;
                display: flex;
                line-height: 1;
                font-size: 0.9rem;
                column-gap: 0.3rem;
                align-items: center;
                border-radius: 0.5rem;
                padding: 3px;
                justify-content: center;
                background-color: #fff;
                border-top-color: #fff;
                border-left-color: #fff;
                border-bottom-color: #bbb;
                border-right-color: #bbb;
                transition: all 0.15s ease;
                cursor: pointer;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;

                s {
                    color: #424242;
                    display: inherit;
                    font-size: 0.75rem;
                    border-radius: 1rem;
                    align-items: center;
                    padding: 0rem 0.1rem;
                    text-decoration: none;
                    justify-content: center;
                    transition: 0.3s;
                    font-family: "Montserrat", sans-serif;
                    &:after {
                        content: "y";
                    }
                }

                &:hover {
                    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.08);

                    s {
                        color: #aaa;
                        transition: 0.3s ease;
                        font-family: "Montserrat", sans-serif;
                    }
                }
            }

            .lang-item s {
                line-height: 1;
                transition: 0.3s ease;

                &:after {
                    content: "";
                }
            }
        }
    }

    @keyframes SidebarCreate-module_rainbowSlide-feOE0 {
        to {
            transform: translateX(-50%);
        }
    }
    .main_social {
        gap: 1rem;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        .fa-telegram {
            color: #28b4d8;
        }

        .fa-viber {
            color: #d12bd1;
        }

        .fa-linkedin {
            color: #0a66c2;
        }
        a {
            display: flex;
            color: #fafafa;
            font-size: clamp(1.5rem, 3vw, 2.2rem);
            align-items: center;
            text-decoration: none;
            justify-content: center;
            background-color: #fff;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 10px;
            width: 100%;
            max-width: 45px;
            transition: all 0.4s ease;
            &:hover {
                background-color: #e2e3e4;
            }
        }
    }
    .job-items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .job-item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
