@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$Primary-900: #9e7b50;
$Primary-800: #ba9668;
$Primary-700: #d7b587;

$Secondary-900: #06182c;
$Secondary-800: #2a3b4f;

$main-blue-900: #111f22;

$Grey-900: #4a4e52;
$Grey-800: #969799;
$Grey-700: #a6aab3;
$Grey-600: #c4c8d1;
$Grey-500: #e9e9e9;

$White-100: #f2f2f2;
$White-84: #f2f2f2d6;

$white: #ffffff;

$Secondary-dark: #09121d;

$black: #000;
$second-black: #121212;
$white: #fff;
$second-white: #fdf2ec;
$third-white: #fbe3d7;
$brown: #5a4c33;
$gray: #747474;
$light-gray: #c3bfba;
$light-brown: #f3efe4;
$arrow-gray: #939393;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #1f1f1f;
}
ul{
    list-style: disc;
    margin: 10px 0px 0px 10px;
}
li{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #1f1f1f;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    &::before{
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #1f1f1f;
    }

}
.h1 {
    font-size: clamp(24px, 3vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.h2 {
    font-size: clamp(20px, 3vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.h3 {
    font-size: clamp(18px, 3vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.h4 {
    font-size: clamp(16px, 3vw, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.container {
    padding: 0 120px;
    @media screen and (max-width: 980px) {
        padding: 0 20px;
        
    }
}
p{

}
body{
    background-image: url('/myCV-main/assets/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
