.header {
    box-shadow: 0 0.25rem 1rem hsla(240, 100%, 1%, 0.1);
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    z-index: 15;
    height: 85px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &_name-title{
        color: $White-100;
    }
    &_position{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_position-title{
        color: #2196f3;
        @media screen and (max-width: 980px) {
            text-align: end;
            
        }
    }
    &_position-button{
        background: transparent;
        border: none;
        cursor: pointer;
        @media screen and (max-width: 980px) {
            display: none;
            
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
}
